h2 {
  margin: 35px 25px 150px 15px;
  background-color: rgb(104, 63, 14);
  color: bisque;
  height: 150px;
  width: 70%;
  padding: 10px 0 0 20px;
  overflow: scroll;
}

body {
  display: flex;
  justify-content: right;
  background-color: rgb(167, 151, 128);
  font-family: sans-serif;
  height: 100vh;
  overflow: visible;
  margin: 0;
}
