h2 {
  margin: 35px 25px 150px 15px;
  color: rgb(104, 63, 14);
  width: 50%;
  z-index: 1;
}

img {
  position: absolute;
}

body {
  display: flex;
  justify-content: right;
  background-color: rgb(167, 151, 128);
  font-family: sans-serif;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
