h2 {
  margin: 20px 
  color: #000077;
  width: 100%;
  z-index: 1;
}

img {
  position: absolute;
}

body {
  display: flex;
  justify-content: center;
  background-color: rgb(167, 151, 128);
  font-family: sans-serif;
  height: 100vh;
  overflow: auto;
  margin: 0;
}
